:host {
  width: 100%;
}

.container {
  width: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2em;

    &__icon {
      width: 12rem;
      cursor: pointer;
    }

    &__icon-principal {
      width: 28rem;
    }
  }
}
